@use '@/app/base';

.footer {
	background-image: url('/footerImage.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	* {
		text-align: center;
	}

	h3 {
		margin-bottom: 2rem;
	}
}

.questionsContainer {
	margin-bottom: 25vh;
}

.questions {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 6rem;
}

.question {
	grid-column: span 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	hr {
		width: 6rem;
	}
}

.questionText {
	color: base.$gold;
	font-weight: 600;
	max-width: 60%;
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin-bottom: 25vh;

	p {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.description {
	p {
		padding: 0 25%;
	}
}

.socialMedia {
	margin: 0 auto;
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 1024px) {
	.questionsContainer {
		margin-bottom: 100px;
	}

	.questions {
		grid-gap: 4rem;
	}

	.question {
		grid-column: span 12;
		max-width: 80vw;
	}

	.description {
		p {
			padding: 0;
		}
	}

	.contactText {
		text-wrap: wrap;
		word-wrap: break-word;
		font-size: 1.2rem !important;
	}
}
